{% set CONF_CLUSTER_NAME = "single-node-cluster1" %}
{% set CONF_REPO_URL = "https://github.com/infracamp/rudl-example.git" %}


resources:
- type: compute.v1.instance
  name: single-node-rudl-04
  properties:
    zone: us-central1-f
    machineType: https://www.googleapis.com/compute/v1/projects/talpa-backend/zones/us-central1-f/machineTypes/n1-standard-1
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/talpa-backend/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    metadata:
      items:
        - key: startup-script
          value: |
            #! /bin/bash
            set -ex
            apt-get update && apt-get install -y docker.io curl
            curl -o /tmp/startup.sh "https://raw.githubusercontent.com/infracamp/rudl/master/cluster-builder/start-single-node-cluster.sh" && chmod 700 /tmp/startup.sh
            /tmp/startup.sh "{{ CONF_CLUSTER_NAME }}" "{{ CONF_REPO_URL }}"
            echo {{ env["rudl-principal-secret"] }}